
*{ 
    margin: 0; /*to remove default stylesheet*/
}

html, body {
        height: 100%;
        background-color: #BCBCBC;
        margin-top:  30px;
}

.contentContainer{
    font-family: Kodchasan, Ubuntu;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    height: 100%;
}

h1{
    font-size: 25 px;
    padding-bottom: 10px;
    padding-top: 40px;
}

h2{
    font-size: 20px;
    padding: 10px;
}

h3{
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 10px;
    text-align: center;
}

.roundResults,
.intermediateResults,
.finalResults{
    font-weight: 700;
}

.androidPhotoContainer{
    display: flex;
    flex-direction: row-reverse;
}

img{
    transform: rotate(180deg);
}

/* Buttons */
#playerButtonPaper:hover,
#playerButtonScissors:hover,
#playerButtonRock:hover{
    transition-duration: 0.4s;
    background-color: #7bb500;
    border-radius: 10%;
  }
  
#Paper{
    width: 200px;
    height: 300px; 
    background-image: url(img/zombis1.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}

#Scissors{
    width: 200px;
    height: 300px; 
    background-image: url(img/zombis2.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}

#Rock{
    width: 200px;
    height: 300px; 
    background-image: url(img/zombis3.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}

*{ 
    margin: 0; /*to remove default stylesheet*/
}

html, body {
        height: 100%;
        background-color: #BCBCBC;
}

.contentContainer{
    font-family: Kodchasan, Ubuntu;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    height: 100%;
}

h1{
    font-size: 25 px;
    padding-bottom: 10px;
}

h2{
    font-size: 20px;
    padding: 10px;
}

h3{
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 10px;
    text-align: center;
}

.roundResults,
.intermediateResults,
.finalResults{
    font-weight: 700;
}

.androidPhotoContainer{
    display: flex;
    flex-direction: row-reverse;
}

img{
    transform: rotate(180deg);
}

/* Buttons */
#playerButtonPaper:hover,
#playerButtonScissors:hover,
#playerButtonRock:hover{
    transition-duration: 0.4s;
    background-color: #7bb500;
    border-radius: 10%;
  }
  
#Paper{
    width: 200px;
    height: 300px; 
    background-image: url(img/zombis1.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}

#Scissors{
    width: 200px;
    height: 300px; 
    background-image: url(img/zombis2.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}

#Rock{
    width: 200px;
    height: 300px; 
    background-image: url(img/zombis3.png);
    background-size: cover;
    background-color: transparent;
    border: none;
}